<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dish1" class="com.stackroute.domain.Dish">
        <constructor-arg index="0" value="1"> </constructor-arg>
        <constructor-arg index="1" value="Indian"> </constructor-arg>
    </bean>

    <bean id="dish2" class="com.stackroute.domain.Dish">
        <constructor-arg index="0" value="1"> </constructor-arg>
        <constructor-arg index="1" value="Continental"> </constructor-arg>
    </bean>

    <bean name="menu1, menu3" class="com.stackroute.domain.Menu" scope="singleton" >
        <constructor-arg >
            <list>
                <ref bean="dish1"/>
                <ref bean="dish2"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="menu2" class="com.stackroute.domain.Menu"  scope="prototype">
        <constructor-arg >
            <list>
                <ref bean="dish1"/>
                <ref bean="dish2"/>
            </list>
        </constructor-arg>
    </bean>
</beans>
