<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dish1" class="com.stackroute.domain.Dish">
        <property name="id" value="1"/>
        <property name="name" value="Pulao"/>
    </bean>

    <bean id="dish2" class="com.stackroute.domain.Dish">
        <property name="id" value="2"/>
        <property name="name" value="Dal"/>
    </bean>

    <bean id="menu1" class="com.stackroute.domain.Menu">
        <property name="dish" ref="dish1"/>
    </bean>

    <bean id="menu2" class="com.stackroute.domain.Menu">
        <property name="dish">
        <list value-type="java.util.List">
            <ref bean="dish1"/>
            <ref bean="dish2"/>
        </list>
        </property>
    </bean>
</beans>
